<% title t('profile_image.my_profile_image') %>
<h1><%= t('profile_image.my_profile_image') %></h1>
<p>
<% if @profile_image %>
<a href='<%= @profile_image.avatar.url %>' rel='shadowbox'><%= image_tag @profile_image.avatar.url(:small) %></a>
<% else %>
<%= image_tag '/images/anonymous.jpg', :width  => 150 %>
<% end %>

</p>
<% form_for(:profile_image, :url => profile_images_path,
:html => { :multipart => true }) do |f| -%>
<%= f.hidden_field :user_id, :value => current_user.id %>
   <p>
    <%= t "user.profile_img_upload" %>
</p>

<div class="upload_form_no_float">
<p>
    <%= f.file_field :avatar %>
</p>
<p>
    <%= submit_tag t("common.upload") %>
</p>
</div>
<% end -%>
