<% title t('service.jobs')%>
<div class="job_index">
<p><%= link_to t('job.new'), new_job_path %></p>

<h2><%= t('job.recent') %></h2>
<br/>
<dl>
<% @jobs.each do |job| %>
<% if job.active || (current_user && current_user.role?('admin'))%>
		<div class="job_index_entry">
			<dt>
				<h2><%= link_to (h job.title), job_path(job) %></h2>
				<%= t('job.publish_date') %>:<%= job.puplish_date.strftime(" %d.%m.%Y ") %><br/>
			</dt>
			<dd>
			<% unless job.active %><h3>Inaktiv</h3><% end %>
			<dl>
			<% job.job_assigns.each do |job_assign| %>
				<% if job_assign.visible %>
					<% unless job_assign.user_assign_values.find_all_by_assignable_id(job.id).to_s.eql?('') %>
						<dt>
							<strong><%= h job_assign.assign_names.find_by_language(get_locale.to_s).name + ": " %></strong>
						</dt>
						<dd style="margin-top:-10px;">
							<%= simple_format(h job_assign.user_assign_values.find_all_by_assignable_id(job.id).map(&:value).join(', ')) %>
						</dd>
					<% end %>
				<% end %>
			<% end %>
			</dl>
			</dd>
		</div>
<% end %>
<% end %>
</dl>
</div>

<div class="categoies_for_assigns" style="border-bottom:dashed thin #000; margin-bottom:15px;padding-bottom:15px;">
	<% unless @tag.to_s.eql?('') %>
		<h2><%= t('tag.actual') %>: <%= @tag.tag_names.find_by_language('de').name %></h2>
	<% else %>
		<h2><%= t('tag.actual') %>: <%= t('common.all') %></h2>
	<% end %>
	<p></p>
	<div style="padding:5px; float:left;">
		<div class="categoy_for_assigns">
			<p><%= link_to t("job.all"), jobs_path %></p>
		</div>
	</div>
</div>

<% if !@tag.to_s.eql?('') && !@tag.parents.empty? %>
<div class="categoies_for_assigns" style="border-bottom:dashed thin #000; margin-bottom:15px;padding-bottom:15px;">
	<h2><%= t('tag.super_categories') %> <%= @tag.tag_names.find_by_language('de').name %></h2>
	<p></p>
	<% @tag.parents.each do |tag| %>
	<div style="padding:5px; float:left;">
		<div class="categoy_for_assigns">
			<p><%= link_to tag.tag_names.find_all_by_tag_id_and_language(tag.id, get_locale.to_s).first.name, :job_category => tag %></p>
		</div>
	</div>
	<% end %>
</div>
<% end %>

<div class="categoies_for_assigns">
	<% if @tag.to_s.eql?('') && !@tags.empty? %>
	<h2><%= t('tag.categories') %></h2>
	<p></p>
	<% root_tags.each do |tag| %>
	<div style="padding:5px; float:left">
		<div class="categoy_for_assigns">
			<p><%= link_to tag.tag_names.find_all_by_tag_id_and_language(tag.id, get_locale.to_s).first.name, :job_category => tag %></p>
		</div>
	</div>
	<% end %>
	<% else %>
	<h2><%= t('tag.sub') %>  <%= @tag.tag_names.find_by_language('de').name %></h2>
	<p></p>
	<% @tags.each do |tag| %>
	<div style="padding:5px; float:left">
		<div class="categoy_for_assigns">
			<p><%= link_to tag.tag_names.find_all_by_tag_id_and_language(tag.id, get_locale.to_s).first.name, :job_category => tag %></p>
		</div>
	</div>
	<% end %>
	<% end %>
</div>