<% title "Job" %>

<% unless get_active_jobs_from_tags(@job).empty? %>
<div class="job_similar">
	<h1><%= t('job.other_with_category') %></h1>
	<p></p>
	<div class="job_similar_entry">
		<% get_jobs_from_tags(@job).each do |job| %>
		<% if job.active %>
		<div class="job_index_entry">
			<dt>
				<h2><%= link_to (h job.title), job_path(job) %></h2>
				<%= t('job.publish_date') %>:<%= job.puplish_date.strftime(" %d.%m.%Y ") %><br/>
			</dt>
			<dd>
				<dl>
					<% job.job_assigns.each do |job_assign| %>
					<% if job_assign.visible %>
					<% unless job_assign.user_assign_values.find_all_by_assignable_id(job.id).to_s.eql?('') %>
					<dt>
						<strong><%= h job_assign.assign_names.find_by_language(get_locale.to_s).name + ": " %></strong>
					</dt>
					<dd style="margin-top:-10px;">
						<%= simple_format(h job_assign.user_assign_values.find_all_by_assignable_id(job.id).map(&:value).join(', ')) %>
					</dd>
					<% end %>
					<% end %>
					<% end %>
				</dl>
			</dd>
		</div>
		<% end %>
		<% end %>
	</div>
</div>	
<% end %>


<% if current_user && current_user.role?('admin') %>
<p>
	<% if @job.active %>
	<strong>Aktiv:</strong>
	<% else %>
	<strong>Inaktiv:</strong>
	<% end %>
	<%= link_to t('common.edit'), edit_job_path(@job) %>
	<%= link_to t('common.delete'), job_path(@job), :confirm  => t('common.confirm'), :method  => :delete %>
</p>
<% end %>
<h3>
<% form_tag '/jobs/index', :id => "with_category_form" do  %>
	<% if get_locale.to_s.eql?('de') %>
		<%= t('job.quick_nav') %> <%= select_tag :job_category, options_from_collection_for_select(Tag.new.to_a + Tag.find_all_by_taggable_type('Job'), :id, :german_name),  :class => 'with_category' %>
		<% else %>
		<%= t('job.quick_nav') %> <%= select_tag :job_category, options_from_collection_for_select(Tag.new.to_a + Tag.find_all_by_taggable_type('Job'), :id, :english_name), :class => 'with_category' %>
		<% end %>
		<% end %>
	</h3>
	<p></p>
<div class="job_show">

<h2><%= @job.title %></h2>
<h3><%= t('job.publish_date') %>: <%= @job.puplish_date.strftime(" %d.%m.%Y ") %></h3>
<dl>
<% @_assigns.each do |assign| %>
	<% unless UserAssignValue.find_all_by_assignable_id_and_assign_id(@job.id, assign.id).empty? %>
		<dt><strong><%= assign.assign_names.find_by_language(get_locale.to_s).name %></strong></dt>
			<% if !assign.html_attribute.to_s.eql?('mail_to') && !assign.html_attribute.to_s.eql?('link_to') %>
			<dd><%= simple_format(h UserAssignValue.find_all_by_assignable_id_and_assign_id(@job.id, assign.id).map(&:value).join(', ')) %></dd>
			<% else %>
				<% if assign.html_attribute.to_s.eql?('mail_to') %>
				<dd><p><%= mail_to UserAssignValue.find_all_by_assignable_id_and_assign_id(@job.id, assign.id).first.value %></p></dd>
				<% else assign.html_attribute.to_s.eql?('link_to') %>
				<dd><p><%= link_to UserAssignValue.find_by_assignable_id_and_assign_id(@job.id, assign.id).value, "http://#{UserAssignValue.find_by_assignable_id_and_assign_id(@job.id, assign.id).value}", :popup  => true %></p></dd>
				<% end %>
			<% end %>
	<% end %>
<% end %>
</dl>
</div>
<div class="clear">
<%= link_to t('job.overview'), jobs_path %>
</div>
