<h1>New roles_user</h1>

<% form_for(@roles_user) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :user_id %>
	<%= collection_select(:roles_user, :user_id, User.all, :id, :email) %>
  </p>
  <p>
    <%= f.label :role_id %>
	<%= collection_select(:roles_user, :role_id, Role.all, :id, :name) %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', roles_users_path %>