<% for group in @groups %>
<div class="groups_list">
	<% unless group.photo_file_name.nil? %>
		<%= image_tag group.photo.url(:small) %>
	<% else %>
		<%= image_tag '/images/anonymous.jpg', :width  => 100 %>
	<% end %>
</div>
<div class="groups_list">
	<% if group.members.size == 1 %>
		<h3><%= link_to (h group.name), group_path(group) %><span style="font-size:12px; color:black"> (<%= group.members.size.to_s << ' ' << t('group.member') %>)</span></h3>
	<% else %>
		<h3><%= link_to (h group.name), group_path(group) %><span style="font-size:12px; color:black"> (<%= group.members.size.to_s << ' ' << t('group.members') %>)</span></h3>
	<% end %>
	<p>
		(<%= t('group.founder') %><%= ": " %>
		<%= link_to group.owner.login, user_path(group.owner) %>
		<%= " - " unless ( (group.owner.user_common.firstname.nil? || group.owner.user_common.firstname.empty?) && (group.owner.user_common.lastname.nil? || group.owner.user_common.lastname.empty?) )  %>
		<%= group.owner.user_common.firstname.to_s + " " unless nil? %>
		<%= group.owner.user_common.lastname unless nil? %>)
	</p>

</div>
<div class="clear"></div>
<% end %>