<% title "Group" %>

<div class="group_description">
	<h1>
		<% if @group.members.size == 1 %>
		<%=h @group.name %><span style="font-size:12px; color:black"> (<%= @group.members.size.to_s << ' ' << t('group.member') %>)</span>
		<% else %>
		<%=h @group.name %><span style="font-size:12px; color:black"> (<%= @group.members.size.to_s << ' ' << t('group.members') %>)</span>
		<% end %>
	</h1>
	(<%= t('group.founder') %><%= ": " %>
	<%= link_to @group.owner.login, user_path(@group.owner) %>
	<%= " - " unless ( @group.owner.user_common.firstname.nil? || @group.owner.user_common.firstname.empty?) && (@group.owner.user_common.lastname.nil? || @group.owner.user_common.lastname.empty?)  %>
	<%= @group.owner.user_common.firstname.to_s + " " unless nil? %>
	<%= @group.owner.user_common.lastname unless nil? %>)

	<br/>
	<%= simple_format(h @group.description) %>
</div>
<div class="right">
	<% unless @group.photo_file_name.nil? %>
	<a href='<%= @group.photo.url %>' rel='shadowbox'><%= image_tag @group.photo.url(:small) %></a>
	<% else %>
	<%= image_tag '/images/anonymous.jpg', :width  => 100 %>
	<% end %>
	<p>
		<%= link_to (t('group.all_of_this_user').to_s << " " << User.find(@group.user_id).login.to_s), user_groups_url(@group.user_id) %>
	</p>

	<h3>Tags</h3>
	<p>
		<%= @tags.collect {|tag| link_to(tag.name, "/groups?tag=#{tag.id}")}.join(", ") %>
	</p>
</div>

<p style="clear:left;">
	<% if current_user %>
	<% if current_user == @group.owner %>
	<%= link_to t('common.edit'), edit_group_path(@group) %> |
	<%= link_to t('common.delete'), @group, :confirm => t('common.confirm'), :method => :delete %>
	<% else %>
	<% if is_member(@group) %>
	<%= link_to t('group.attend'), add_usergroup_path(:group_id  => @group.id) %>
	<% else %>
	<%= link_to t('group.escape'), destroy_usergroup_path(:group_id  => @group.id)  %>
	<% end %>
	<% end %>
	<% end %>
</p>
<div class="whole_width"></div>
<div class="group_member_container">
	<% @group.members.each do |member| %>
	<div class="group_members">
		<p>
			<% unless member.profile_image.nil? %>
			<a href='<%= member.profile_image.avatar.url() %>' rel='shadowbox'><%= image_tag(member.profile_image.avatar.url(:thumb))%></a>
			<% else %>
			<%= image_tag '/images/anonymous.jpg', :width  => 100 %>
			<% end %>
		</p>
		<p>
			<%= link_to member.login, user_path(member) %>	<%= " - " unless ( member.user_common.firstname.nil? || member.user_common.firstname.empty?) && (@group.owner.user_common.lastname.nil? || member.user_common.lastname.empty?)  %>

			<%= member.user_common.firstname.to_s + " " unless nil? %>
			<%= member.user_common.lastname unless nil? %>
		</p>
	</div>
	<% end %>
	

</div>

<div class="comment_entry">
	<h1><%= t "post.new_comment" %></h1>
	<%= render '/comments/form' %>
	<div id="comments">
		<%= render :partial => '/comments/create' %>
	</div>
</div>
