<% if current_user && @current_one %>
<% unless friendship_requests.empty?  %>
<h1><%= t('user.friend_confirm') %></h1>
<ul>
	<% for user in friendship_requests %>
	<li>
		<%= link_to (h user.login), user_path(user) %>
		<%= " - " %>
		<%= link_to t('user.accept'), add_friendship_path(:friend_id  => user.id, :from_current  => true) %>
		<%= " / " %>
		<%= link_to t("user.decline"), destroy_friendship_path(:user_id  => user.id), :from_current  => true  %>
	</li>
	<% end %>
</ul>
<% end %>
<% end %>