	<% for assign in Assign.find_all_by_parent_id(nil, :order => 'position') %>
	<% unless (@user.assigns.uniq & Assign.find_all_by_parent_id(assign.id)).size == 0 || check_on_emptyness_of_children_through_privacy(@user.id, assign.id, @current_one) %>
	<h1><%= assign.assign_names.find_by_language(get_locale.to_s).name %></h1>
	<% if current_user %>
	<% if @user == current_user %>
	<%= link_to t('common.edit'), assign_path(assign) %>
	<% end %>
	<% end %>
	<table>
		<% for assign_child in Assign.find_all_by_parent_id(assign.id, :order => 'position') %>
		<% unless UserAssignValue.find_all_by_assignable_id_and_assign_id(@user.id, assign_child.id).empty? %>
		<% unless UserAssignValue.find_all_by_assignable_id_and_assign_id(@user.id, assign_child.id).size == 1 && UserAssignValue.find_all_by_assignable_id_and_assign_id(@user.id, assign_child.id).first.value.to_s.eql?('') %>
		
		
		<% if current_user && is_confirmed_friend_of_current(@user.id) %>
			<%= render '/users/show_attributes', :assign_child  => assign_child %>
		<% end %>
		<% if current_user && !@current_one && !is_confirmed_friend_of_current(@user.id) && UserAssignValue.find_all_by_assignable_id_and_assign_id(@user.id, assign_child.id).first.visible %>
			<%= render '/users/show_attributes', :assign_child  => assign_child %>
		<% end %>
		<% if !current_user && UserAssignValue.find_all_by_assignable_id_and_assign_id(@user.id, assign_child.id).first.visible %>
			<%= render '/users/show_attributes', :assign_child  => assign_child %>
		<% end %>
		<% if current_user && @current_one %>
			<%= render '/users/show_attributes', :assign_child  => assign_child %>
		<% end %>

		<% end %>
		<% end %>
		<% end %>
	</table>
	<% end %>

	<% end %>