<script type="text/javascript">
    $(document).ready(function(){
        $("#tokenize").tokenInput("/all_users", {
            prePopulate: [{
                "id": "<%= @user.id %>",
                "name": "<%= @user.login  %>"
            }],
            classes: {
                tokenList: "token-input-list-facebook",
                token: "token-input-token-facebook",
                tokenDelete: "token-input-delete-token-facebook",
                selectedToken: "token-input-selected-token-facebook",
                highlightedToken: "token-input-highlighted-token-facebook",
                dropdown: "token-input-dropdown-facebook",
                dropdownItem: "token-input-dropdown-item-facebook",
                dropdownItem2: "token-input-dropdown-item2-facebook",
                selectedDropdownItem: "token-input-selected-dropdown-item-facebook",
                inputToken: "token-input-input-token-facebook"
            }
        });
    });
		$("#mail_for_user").live("mouseover", function() {
			var i = 0;
			$(".token-input-delete-token-facebook").each(function(){
				i ++;
			});
			if(i == 0 || ($(".tb").attr("value") == "") || ($(".tb_area").attr("value") == "")){
				$(".to_submit").attr("disabled", true);
			}else{
				$(".to_submit").attr("disabled", false);
			}
		});
</script>
<div id="popupContact" style="display: none; position: fixed; text-align:center; position: absolute; background: #FFFFFF; border: 5px solid #000000; z-index: 2; padding: 12px; font-size: 13px; ">
	<div id="mail_for_user">
		<%= error_messages_for :message %>
		<% form_for :message, :url => {:controller => "sent", :action => "create_from_a_user", :id  => @user.id} do |f| %>
		<ul>
			Empfänger *
			<input type="text" id="tokenize" name="blah2"/>	
			<li></li>
			<li>
				Betreff *<br/>
				<%= f.text_field :subject, :class => "tb"%>
			</li>
			<li>
				Nachricht *<br/>
				<%= f.text_area :body, :class => "tb_area" %>
				<%= f.hidden_field :author_id, :value  => current_user.id %>
			</li>
			<li>
				<%= submit_tag "Send", :disabled => true, :class => "to_submit" %>
				<button type="button" id="popupContactClose">Abbrechen</button>
			</li>
		</ul>
		* <%= t("common.duty") %>
		<% end %>
	</div>
</div>