<% title t('common.welcome') %>

<div id="welcome_right">
	<h2>Willkommen in der Violounge!</h2>
	<p>
		Wirklich aktuell ist nur das Bleibende. Bach, Mozart … Freundschaften, gute Musik, Filme, Bücher … Ideen, intensive Gespräche, Begegnungen, Verbindungen ...
	</p>
	<p>
		Treffen Sie Musikerinnen und Musiker, Kolleginnen und Kollegen, finden Sie Jobs oder Wohnungen auf Zeit und mehr. Tauschen Sie sich aus, die Interessen sind vielleicht ähnlich, die Zugangsweisen unterschiedlich. Erfahren Sie! Anregungen, Tipps, Einblick, Hörbeispiele, Blogs und Videos.
	</p>
</div>

<% unless current_user %>
<div id="welcome_left">
	
	<% form_for @user_session, :url => user_session_path do |f| %>
	<%= f.error_messages %>
	<input name="user_session[login]" type="text" value="<%= t('common.email') %>" onfocus="this.value = ''" class="tb_login">
	<input name="user_session[password]" type="password" value="<%= t('common.password') %>" onfocus="this.value = ''" class="tb_login">
	<%= f.submit t "common.login" %>
	
	<br/>
	<br/>
	<%= link_to t("forgot_password.forgot"), :controller => "password_resets", :action => "new" %>
	<%= link_to t("common.register"), new_user_path %>
	<% end %>
</div>
<% end %>