$('#loading_background').removeClass('loading_background_visible');
$('#loading_background').addClass('loading_background_invisible');
$(".friendship_links_bottom").html("<%= escape_javascript(render('/users/friendship_links_bottom')) %>");
$(".friendship_links_top").html("<%= escape_javascript(render('/users/friendship_links_top')) %>");
$(".friends").html("<%= escape_javascript(render('/users/friends')) %>");
$(".profile_info_extended").html("<%= escape_javascript(render('/users/profile_info_extended')) %>");
$('#flash_notice').remove();
$('#flash_error').remove();
$(".personal_info").before('<div id="flash_notice"><%= escape_javascript(flash.delete(:notice)) %></div>');
$('#flash_notice').fadeOut(1500);
setTimeout(function() { 
	$('#flash_notice').remove();
}, 1500);