<% if @photo_ablums.size > 0 %>
<% id = @photo_ablums.first.user_id  %>
<% title t('photo_album.of_this_user') + " " + User.find(id).login.to_s %>
<% end %>

<% @photo_ablums.each do |album| %>

<div class="photo_album">
<% photo = Photo.first(:conditions => ["photo_album_id = ?", album.id]) %>

<h2><%= album.name %></h2>
<br/><% unless photo.nil? %>
<%= image_tag(photo.public_filename(:medium)) %>
<br/>
<p>
<%= link_to t("common.show"), photo_album_path(album) %> <% if can? :manage, album %> |  <%= link_to t("common.edit"), edit_photo_album_path(album) %> <% end %>
</p>
<% else %>
<div style="height:320px; width:400px; background:#4B7399;"></div>
<img src="/images/place_holder_album.jpg" height="320px" style=" display:none;"></img>
<p>
<% if can? :manage, album %>  <%= link_to t("common.edit"), edit_photo_album_path(album) %> <% end %>
</p>
<% end %>


</div>


<% end %>
<div class="clear">
<%= link_to t('common.new_ablum'), :controller => "photo_albums", :action => "new" unless current_user.nil? %>

</div>