<% title t('common.edit_attributes') %>

<p><% link_to 'Reihenfolge der Elternelemente ändern', sort_list_elements_path + '?parent_id=nil;assignable_type=' + @taggable_type.to_s %></p>

<% for tag in root_tags %>
<h1><%= tag.tag_names.find_by_language(get_locale.to_s).name %>
	<span style="font-size:10px;">
		(<%= link_to t('common.edit'), edit_tag_path(tag) %> / <%= link_to t('common.delete'), tag, :confirm => 'Sicher?', :method => :delete %>)
	</span>	
</h1>
<dl style="padding-left:30px;">
	<% tag.children.each do |child_tag| %>
	<h2><%= child_tag.tag_names.find_by_language(get_locale.to_s).name %>
		<span style="font-size:10px;">
			(<%= link_to t('common.edit'), edit_tag_path(child_tag) %> / <%= link_to t('common.delete'), child_tag, :confirm => 'Sicher?', :method => :delete %>)
		</span>	
	</h2>
	<dl style="padding-left:30px;">
		<% child_tag.children.each do |child_tag| %>
		<h3><%= child_tag.tag_names.find_by_language(get_locale.to_s).name %>
			<span style="font-size:10px;">
				(<%= link_to t('common.edit'), edit_tag_path(child_tag) %> / <%= link_to t('common.delete'), child_tag, :confirm => 'Sicher?', :method => :delete %>)
			</span>	
		</h3>
		<% end %>
	</dl>
	<% end %>
</dl>
<% end %>



<br/>
<br/>
<%= link_to t('common.new'), '/tags/new?taggable_type=' + @taggable_type %>
