<h1>New role</h1>

<% form_for(@role) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :authorizable_type %><br />
    <%= f.text_field :authorizable_type %>
  </p>
  <p>
    <%= f.label :authorizable_id %><br />
    <%= f.text_field :authorizable_id %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', roles_path %>