<% @posts.reverse.each do |post| %>
<div class="clear">
	<h1><%= link_to_unless_current h(post.title), post %> 
	</h1>
	<p>
		<%= t"common.created_at" %><%= post.created_at.strftime(" %d. %m. %Y um %H:%M Uhr ") %>
		<%= t "common.by" %>
		<%= " " %>
		<%= link_to (post.user.login), post.user%>
		(<%= post.user.user_common.firstname unless nil? %>
		<%= " " %>
		<%= post.user.user_common.lastname unless nil? %>)
	</p>
</div>
<% end %>