<% form_tag '/posts/remove_tags', :id => "remove_tags" do %>
<% unless (@post.tags).empty?  %>
<br/>
<h2><%= t('tag.remove_tags_from_post') %></h2>
<% for tag in (@post.tags) do %>
<span class="clickable_items_to_remove" id="<%= tag.id %>"><%= tag.tag_names.find_by_language(I18n.locale.to_s).name %></span>
<% end %>
<br/><br/>
<%= hidden_field_tag 'id', @post.id %>
<p>
<%= submit_tag t("tag.remove_from_post") %>
</p>
<% end %>
<% end %>