
<script type="text/javascript" charset="utf-8">
	$(document).ready(function(){
		$('#date_format').remove();
		$("#from").datepicker({ 
		  dateFormat: 'yy-mm-dd'
		});
		$("#to").datepicker({ 
		  dateFormat: 'yy-mm-dd'
		});
	});
</script>
<% title t'common.blogs' %>

<h1><%= t'common.all_blogs' %></h1>


<% form_tag post_search_url, :id  => 'post_search', :method => :get do %>
 
<p> 
	<%= t('common.from') %>
	<input type="text" id="from" name="from" class="tb_datepicker"/>
	<%= t('common.to') %>
	<input type="text" id="to" name="to" class="tb_datepicker"/>
	<span id="date_format"> (TT/MM/JJJJ)</span>
	<%= submit_tag t('common.clear'), :id  => 'clear_tb_datepicker', :class  => 'hidden' %>
</p>

<p>	 
	<%= t('post.search_field_description') %><br/>
	<%= text_field_tag :search, params[:search], :class  => 'tb_extended', :autocomplete => "off" %>
	<% unless params[:user_id].nil? %>
		<%= hidden_field_tag :user_id_for_search, params[:user_id] %>
	<% end %>
	<%= submit_tag t('common.search'), :id  => 'search_button' %>
</p>
<% end %>


<div id="posts">
	
<%= render 'posts' %>

</div>
