<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html>
    <head>
        <title><%= h(yield(:title) || "Untitled") %></title>
        <%= stylesheet_link_tag 'style' %>
        <%= auto_discovery_link_tag :atom, formatted_posts_path(:atom) %>
        <%= javascript_include_tag :defaults %>
        <%= stylesheet_link_tag 'application' %>
        <!--[if IE 6]>
            <style type="text/css" media="screen">
            @import url("/stylesheets/ie6.css");
            </style>
        <![endif]-->
        <!--[if IE 7]>
            <style type="text/css" media="screen">
            @import url("/stylesheets/ie7.css");
            </style>
        <![endif]-->
    </head>
    <body>
        <div id="container">
            <div id="user_nav">
                <% if current_user %>
                <%= link_to "Logout", logout_path %>
                <% else %>
                <%= link_to "Registrieren", new_user_path %>| <%= link_to "Login", login_path %>
                <% end %>
                <% if current_user %>
                <li>
                    <%= link_to "Mein Profil", edit_user_path(:current) %>
                </li>
                <li>
                    <%= link_to "Mein Blog", myblog_path %>
                </li>
                <li>
                    <%= link_to "Mein Blog Archiv", myblogarchiv_path %>
                </li>
                <% end %>
            </div>
            <%= link_to "Blogs", posts_path %>
            <% flash.each do |name, msg| %>
            <%= content_tag :div, msg, :id => "flash_#{name}" %>
            <% end %>
            <%= yield %>
        </div>
    </body>
</html>
