<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  	<title><%= h(yield(:title) || "Untitled") %></title>
	<%= stylesheet_link_tag 'drop_down_menu/dropdown.linear.columnar', 'drop_down_menu/default.advanced', 'application', '/shadowbox/shadowbox'  %>
	<% if request.url.to_s.include?('sort_list_elements')%>
		<% javascript_include_tag 'proto/prototype', 'proto/controls', 'proto/effects', 'proto/dragdrop' %>
	<% else %>
		<%# javascript_include_tag 'jquery', 'jquery.url_utils', 'pagination', 'jquery.tokeninput', 'mail', 'application', '/shadowbox/shadowbox'   %>
		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js" charset="utf-8" />
		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/jquery-ui.min.js" charset="utf-8" />
		<%= javascript_include_tag 'jquery.url_utils', 'pagination', 'jquery.tokeninput', 'mail', 'application', '/shadowbox/shadowbox'  %>
		<% if request.url.to_s.include?('posts') || request.url.to_s.include?('myblog') %>
			<%= include_tiny_mce_if_needed %>
			<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/jquery-ui.min.js" charset="utf-8" />
			<%= javascript_include_tag 'jquery.datepicker' %>
			<%= stylesheet_link_tag 'jquery_ui' %>
		<% end %>
		<% if request.url.to_s.include?('assign') || (request.url.to_s.include?('jobs') && (request.url.to_s.include?('new') || request.url.to_s.include?('edit')))%>
			<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/jquery-ui.min.js" charset="utf-8" />
			<%= javascript_include_tag 'jquery.datepicker' %>
			<%= stylesheet_link_tag 'jquery_ui' %>
		<% end %>
		<% if request.url.to_s.include?('photo_albums') && request.url.to_s.include?('edit') %>
			<%= javascript_include_tag 'swfupload', 'handlers' %>
		<% end %>
	<% end %>
	
	<% unless request.url.to_s.include?('photo_albums') && request.url.to_s.include?('edit') %>
		<script type="text/javascript">
		var shadowbox_conf = {
			language: "de-DE",
			players: ["flv", "html", "iframe", "img", "qt", "swf", "wmp"],
			animate: true,
			animateFade: true,
			animSequence: "wh",
			autoDimensions: true,
			modal: false,
			showOverlay: true,
			overlayColor: "#000",
			overlayOpacity: 1,
			flashBgColor: "#000000",
			autoplayMovies: true,
			showMovieControls: true,
			slideshowDelay: 0,
			resizeDuration: 0.5,
			fadeDuration: 0.5,
			displayNav: true,
			continuous: false,
			displayCounter: true,
			counterType: "default",
			counterLimit: 10,
			viewportPadding: 20,
			handleUnsupported: "link",
			initialHeight: 160,
			initialWidth: 320,
			enableKeys: true,
			skipSetup: false,
			flashParams: { bgcolor: "#000000", allowFullScreen: true },
			flashVars: {},
			flashVersion: "9.0.0",
			useSizzle: false
		};
		Shadowbox.init(shadowbox_conf);
		</script>
	<% else %>
		<script type="text/javascript" charset="utf-8">
			Shadowbox.init({
				language: 'en',
				players:  ['img', 'html', 'iframe'],
				onClose:function(){ window.location.reload(true) }
			});
		</script>
	<% end %>
	
	<!--[if lte IE 7]>
		<%= javascript_include_tag 'jquery.dropdown' %>
	<![endif]-->
	
	<script type="text/javascript" charset="utf-8">
		$(document).ready(function(){
			$('.loading_background_link').click(function() {
				$('#loading_background').removeClass('loading_background_invisible');
				$('#loading_background').addClass('loading_background_visible');
			});
		});
	</script>
	
	<%= yield :head %>
</head>
<body>
	<div id="loading_background" class="loading_background_invisible"></div>
	<div id="user_nav">
		<%= render :partial => '/layouts/main_nav' %>
	</div>
	<div id="container" class="container">
		<div id="flash">
			<% flash.each do |name, msg| %>
			<%= content_tag :div, msg, :id => "flash_#{name}" %>
			<% end %>
		</div>
		<%= yield %>
	</div>
</body>
</html>
